
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>

<div class="main-home">
    <div class="home_images-background">
        <div class="images-background-big" >
            <img src="/assets/image-background/img-big1.jpg" alt="" >
        </div>
        <div class="images-background-small">
            <img src="/assets/image-background/img-small1" alt="" >
            <img src="/assets/image-background/img-small2" alt="" >
        </div>
        <div class="home_products">
            <div class="home_products-bestseller">
                <p class="home_products-bestseller--header">
                    SẢN PHẨM MỚI
                </p>
                <div class="home_products-bestseller--product">
                    <a class="home_products-bestseller--product-detail" href="" >
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products-bestseller--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products-bestseller--product-detail-price" href="">220.000đ</p>
                        <div class="home_products-bestseller--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a class="home_products-bestseller--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products-bestseller--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products-bestseller--product-detail-price">220.000đ</p>
                        <div class="home_products-bestseller--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a class="home_products-bestseller--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products-bestseller--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products-bestseller--product-detail-price">220.000đ</p>
                        <div class="home_products-bestseller--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a class="home_products-bestseller--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products-bestseller--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products-bestseller--product-detail-price">220.000đ</p>
                        <div class="home_products-bestseller--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a    class="home_products-bestseller--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products-bestseller--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products-bestseller--product-detail-price">220.000đ</p>
                        <div class="home_products-bestseller--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                </div>

                </div>
            </div>

        </div>

    </div>

