<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tổng quan doanh nghiệp</title>
</head>
<body>
    <div id="tong_quan">
        <p class="sub-header">
            I. Về chúng tôi
        </p>
        <p class="content--item">
            Được thành lập từ năm 2019, Thanh Bình là chuỗi cửa hàng dược phẩm bán lẻ uy tín tại Việt Nam. Đến nay, Thanh Bình sở hữu mạng lưới hơn 150 nhà thuốc đạt chuẩn GPP trên toàn quốc cùng hơn 500 dược sĩ đồng hành.

        </p>
        <p class="sub-header">II. Sứ mệnh</p>
        <p class="content--item">
            Từ khi thành lập, Thanh Bình đặt ra sứ mệnh mong muốn được phục vụ, chăm sóc sức khỏe cộng đồng với sự đồng hành của đội ngũ dược sĩ chuyên môn cao, giàu kinh nghiệm; sản phẩm có chất lượng và giá cả hợp lý. 
            <br> <br>
            Với sứ mệnh này, nhà thuốc Thanh Bình luôn không ngừng cải thiện chất lượng dịch vụ từ những điều nhỏ nhất, nhằm nâng cao trải nghiệm của khách hàng và đem lại sự hài lòng, thoải mái nhất tới khách hàng khi đến với nhà thuốc.
        </p>
        <p class="sub-header">
            III. Giá trị cốt lõi
        </p>
        <p class="content--item">
            Tất cả nhà thuốc trực thuộc hệ thống Thanh Bình đều đạt chuẩn Thực hành thuốc tốt - GPP, đều đang kinh doanh và cung cấp các loại sản phẩm nằm trong danh mục được Bộ Y tế đã cấp phép lưu hành, gồm: Thuốc; Dược, mỹ phẩm; Thiết bị và dụng cụ y tế; Vật dụng chăm sóc cá nhân.
            <br> <br>
            Với yêu cầu đặt chất lượng lên hàng đầu, nhà thuốc Thanh Bình cam kết:
            <ul>
                <li>Tất cả sản phẩm chính hãng, có nguồn gốc rõ ràng.</li>
                <li> Giá cả sản phẩm đều được niêm yết công khai và minh bạch.</li>
                <li> Dược sĩ trung thực và tư vấn tận tâm với khách hàng.</li>
            </ul>
    </div>

    <div id="he_thong"></div>
    <div id="hoa_don"></div>
    <div id="mua_hang"></div>
    <div id="doi_tra"></div>
</body>
</html>