
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>
<div class="main-shopping">
  <p class="shopping-navigate">Trang chủ / Giỏ hàng</p>
  <div class="shopping__cart">
    <div class="shopping__cart-left">
      <div class="shopping__cart-left--header">
        <p>Giỏ hàng (3)</p>
      </div>
      <div class="shopping__cart-left--detail">
        <div class="shopping__cart-left--detail-row">
          <p class="shopping__cart-left--detail-row1"></p>
          <p class="shopping__cart-left--detail-row2">Sản phẩm</p>
          <p class="shopping__cart-left--detail-row3">Giá thành</p>
          <p class="shopping__cart-left--detail-row4">Số lượng</p>
          <p class="shopping__cart-left--detail-row5"></p>
        </div>
        <div class="shopping__cart-left--detail-row">
          <div class="shopping__cart-left--detail-row-check">
            <input type="checkbox">
          </div>
          <div class="shopping__cart-left--detail-row-info">
            <img src="/assets/image/shopping-cart/product.jpg" alt="">
            <p>Nat C 1000 hỗ trợ tăng đề kháng lọ 60 viên</p>
          </div>
          <p class="shopping__cart-left--detail-row-price">105.000đ</p>
          <div class="shopping__cart-left--detail-row-quantity">
            <button (click)="decrease()">-</button>
            <input type="text" [(ngModel)]="quantity">
            <button (click)="increase()">+</button>
          </div>
          <button class="material-icons-outlined shopping__cart-left--detail-row-delete ">
            delete
          </button>
        </div>
        <div class="shopping__cart-left--detail-row">
          <div class="shopping__cart-left--detail-row-check">
            <input type="checkbox">
          </div>
          <div class="shopping__cart-left--detail-row-info">
            <img src="/assets/image/shopping-cart/product.jpg" alt="">
            <p>Nat C 1000 hỗ trợ tăng đề kháng lọ 60 viên</p>
          </div>
          <p class="shopping__cart-left--detail-row-price">105.000đ</p>
          <div class="shopping__cart-left--detail-row-quantity">
            <button (click)="decrease()">-</button>
            <input type="text" [(ngModel)]="quantity">
            <button (click)="increase()">+</button>
          </div>
          <button class="material-icons-outlined shopping__cart-left--detail-row-delete ">
            delete
          </button>
        </div>
        <div class="shopping__cart-left--detail-row">
          <div class="shopping__cart-left--detail-row-check">
            <input type="checkbox">
          </div>
          <div class="shopping__cart-left--detail-row-info">
            <img src="/assets/image/shopping-cart/product.jpg" alt="">
            <p>Nat C 1000 hỗ trợ tăng đề kháng lọ 60 viên</p>
          </div>
          <p class="shopping__cart-left--detail-row-price">105.000đ</p>
          <div class="shopping__cart-left--detail-row-quantity">
            <button (click)="decrease()">-</button>
            <input type="text" [(ngModel)]="quantity">
            <button (click)="increase()">+</button>
          </div>
          <button class="material-icons-outlined shopping__cart-left--detail-row-delete ">
            delete
          </button>
        </div>
      </div>
    </div>
    <div class="shopping__cart-right">
      <p class="shopping__cart-right--header">
        <span class="material-icons-outlined">
          shopping_bag
        </span>
        <span>Đơn hàng</span>
      </p>
      <p class="shopping__cart-right--row">
        <span class="shopping__cart-right--row-left">Tổng tiền</span>
        <span class="shopping__cart-right--row-right">105.000đ</span>
      </p>
      <p class="shopping__cart-right--row">
        <span class="shopping__cart-right--row-left">Giảm giá</span>
        <span class="shopping__cart-right--row-right">0đ</span>
      </p>
      <p class="shopping__cart-right--row">
        <span class="shopping__cart-right--row-left">Tạm tính</span>
        <span class="shopping__cart-right--row-right">105.000đ</span>
      </p>

      <p class="shopping__cart-right--row shopping__cart-right--row--button">
        <button class="shopping__cart-right--row--button">Đặt hàng</button>
      </p>
    </div>
  </div>
  <p class="shopping__orther-product--header">
    Sản phẩm khác
  </p>
  <div class="shopping__orther-product">
    <div class="orther__product-item">
      <div class="orther__product-item--img">
        <img src="/assets/image/shopping-cart/product.jpg" alt="">
      </div>
      <p class="orther__product-item--info">
        Nat C 1000 hỗ trợ tăng đề kháng  lọ 60 viên
      </p>
      <p class="orther__product-item--price">105.000đ</p>
      <button class="orther__product-item--add">Thêm vào giỏ hàng</button>
    </div>
    <div class="orther__product-item">
      <div class="orther__product-item--img">
        <img src="/assets/image/shopping-cart/product.jpg" alt="">
      </div>
      <p class="orther__product-item--info">
        Nat C 1000 hỗ trợ tăng đề kháng  lọ 60 viên
      </p>
      <p class="orther__product-item--price">105.000đ</p>
      <button class="orther__product-item--add">Thêm vào giỏ hàng</button>
    </div>
    <div class="orther__product-item">
      <div class="orther__product-item--img">
        <img src="/assets/image/shopping-cart/product.jpg" alt="">
      </div>
      <p class="orther__product-item--info">
        Nat C 1000 hỗ trợ tăng đề kháng  lọ 60 viên
      </p>
      <p class="orther__product-item--price">105.000đ</p>
      <button class="orther__product-item--add">Thêm vào giỏ hàng</button>
    </div>
    <div class="orther__product-item">
      <div class="orther__product-item--img">
        <img src="/assets/image/shopping-cart/product.jpg" alt="">
      </div>
      <p class="orther__product-item--info">
        Nat C 1000 hỗ trợ tăng đề kháng  lọ 60 viên
      </p>
      <p class="orther__product-item--price">105.000đ</p>
      <button class="orther__product-item--add">Thêm vào giỏ hàng</button>
    </div>
    <div class="orther__product-item">
      <div class="orther__product-item--img">
        <img src="/assets/image/shopping-cart/product.jpg" alt="">
      </div>
      <p class="orther__product-item--info">
        Nat C 1000 hỗ trợ tăng đề kháng  lọ 60 viên
      </p>
      <p class="orther__product-item--price">105.000đ</p>
      <button class="orther__product-item--add">Thêm vào giỏ hàng</button>
    </div>

  </div>
</div>

