* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-shopping {
  margin-top: 160px;
  background-color: #F8F8F8;
  padding: 24px;
}
.shopping-navigate {
  color: #776F6F;
  font-size: 14px;
  margin: 0 0 12px 100px;;
}
.shopping__cart {
  display: flex;
  padding: 0 100px;
}
.shopping__cart-left {
  flex-basis: 70%;
  background-color: #Fff;
  border-radius: 10px;
  padding: 12px;
}
.shopping__cart-left--header p{
  color: #000;
  font-size: 30px;
}
.shopping__cart-left--detail-row {
  display: flex;
  align-items: center;
  text-align: center;
}
.shopping__cart-left--detail-row:hover {
  background-color: #f2f2f2;
}
.shopping__cart-left--detail-row:nth-child(1):hover {
  background-color: transparent;
}
.shopping__cart-left--detail-row:nth-child(1) {
  font-weight: bold;
}
.shopping__cart-left--detail-row1 {
  width: 10%;
}
.shopping__cart-left--detail-row2 {
  width: 40%;
}
.shopping__cart-left--detail-row3 {
  width: 20%;
}
.shopping__cart-left--detail-row4 {
  width: 20%;
}
.shopping__cart-left--detail-row5 {
  width: 10%;
}
.shopping__cart-left--detail-row-check {
  width: 10%;
}
/* .shopping__cart-left--detail-row-check:focus {
  color: #2D982A;
} */
.shopping__cart-left--detail-row-info {
  display: flex;
  align-items: center;
  width: 40%;
}
.shopping__cart-left--detail-row-info img {
  width: 80px;
  height: auto;
  background-color: transparent;
}
.shopping__cart-left--detail-row-price {
  width: 20%;
  color: #2D982A;
  font-weight: bold;
}
.shopping__cart-left--detail-row-quantity {
  width: 20%;
  display: flex;
  justify-content: center;
}
.shopping__cart-left--detail-row-quantity button {
  width: 15%;

}
.shopping__cart-left--detail-row-quantity button:nth-child(1) {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.shopping__cart-left--detail-row-quantity button:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.shopping__cart-left--detail-row-quantity input {
  width: 30%;
  text-align: center;
}
.shopping__cart-left--detail-row-delete {
  width: 10%;
  border: none;
  background-color: transparent;
}

.shopping__cart-right{
  flex-basis: 30%;
  padding: 12px;
  margin-left: 24px;
  border-radius: 10px;
}
.shopping__cart-right {
  background-color: #F2F2F2;
}
.shopping__cart-right--header {
  font-size: 30px;
}
.shopping__cart-right--row {
  display: flex;
  justify-content: space-between;
  margin: 24px 12px;
}
.shopping__cart-right--row:nth-child(1) {
  display: flex;
  align-items: center;
}
.shopping__cart-right--row:nth-child(4) {
  font-weight: bold;
  font-size: 18px;
  margin-top: 44px;
}
.shopping__cart-right--row--button {
  display: flex;
  justify-content: center;
}
.shopping__cart-right--row--button button{
  background-color: #2D982A;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 2px 40px;
  border-radius: 20px;
  border: none;
}
.shopping__orther-product--header {
  font-size: 30px;
  margin: 12px 100px;
}
.shopping__orther-product {
  display: flex;
  padding: 0 100px;

}
.orther__product-item {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  width: 20%;
  margin: 0 14px;
}
.orther__product-item--img img{
  width: 100%;
  border-radius: 12px;
}
.orther__product-item--info {
  font-size: 14px;
  margin: 6px 0;
  font-weight: 500;
}
.orther__product-item--price {
  font-weight: bold;
  color: #2D982A;
  margin: 0 0 8px 0;
}
.orther__product-item--add {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px;
  font-size: 14px;
}
