.main-right{
    background: #EAEAEA;
    position: fixed;
    left: 15%;
    top: 0;
    width: 85%;
    height: 100%;
    padding: 20px 0;
}
.admin-info{
    position: absolute;
    width: 100px;
    right: 60px;
    display: flex;
    align-items: center;
}
.admin-ava{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    float: right;
    padding: 10px
}
.material-icons-outlined{
    float: left;
}
.admin-name{
    float: left;
    width: 20px;
    height: 20px;
    padding-right: 20px;
    padding-left: 10px;
    text-align: center;
}
.page-title{
    margin: 50px 0 20px 80px;
    font-weight: bold;
    font-size: 35px;
}
.page-body{
    background-color: #FFFF;
    margin: 0 80px;

}

.page-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 5px;
}
.page-title-main{
    font-size: 25px;
}
.page-body-title{
    margin-top: 50px;
    margin-left: 60px;
    font-weight: bold;
    font-size: 35px;
}
#search{
    color: #f2f2f2;
    border-radius: 25px;
    margin-right: 80px;
    height: 30px;
    width: 220px;
}
.page-body-header{
    height: 200px;
    
}
.cus-info-title{
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}
.cus-info-content{
    display: flex;
}
.cus-image{
    
}
.cus-info-data{
}
.page-history-order{
    height: 200px;
}
.his-order-title{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
    position: relative;
    display: inline-block;
}