<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
  </head>
  <body>
    <div class="content">
      <div class="left-content">
        <img src="/assets/image/SignInUp/BannerHello.png" width="130px" class="banner"/>
      </div>

      <div class="right-content">
        <form action="app-home" method="get" class="login_form">
          <h2 class="header">Đăng nhập</h2>
          <div class="container">
            <div class="container__input">
                <div class="container__input--item">
                    <label for="uname">Số điện thoại: </label>
                    <div class="input--content">
                        <input
                        type="text"
                        placeholder="Số điện thoại"
                        name="uname"
                        required
                      />
                      <span class="material">*</span>
                    </div>
                  </div>
                  <div class="container__input--item">
                    <label for="psw">Mật khẩu: </label>
                    <div class="input--content">
                        <input
                        type="password"
                        placeholder="Mật khẩu"
                        name="psw"
                        required
                      /><span class="material">*</span>
                    </div>
                    </div>
            </div>
            
            <div class="container__checkbox">
                <label>
                    <input type="checkbox" checked="checked" name="remember" class="checkbox"/>Nhớ mật khuẩu
                </label>
                <a href="app-forgotpassword">Quên mật khẩu?</a>
            </div>
            <div>
              <button type="submit" class="login_button" onclick="window.location='app-home'">ĐĂNG NHẬP</button>
            </div>
          </div>
          <div class="content--bottom">
            <p>Chưa có tài khoản?</p>
            <a href="app-signin">Đăng ký ngay</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>