
<div class="main">
  <div class="main__momo">
    <p class="momo__heading">
      Thanh toán qua ví điện tử Momo
    </p>
    <div class="momo__img">
      <img src="/assets/image/thanhtoanmomo/momo.png" alt="">
    </div>
    <p class="momo__qrcode">QUÉT MÃ ĐỂ THANH TOÁN</p>
    <div class="momo__qr-img">
      <img src="/assets/image/thanhtoanmomo/QR.jpg" alt="">
    </div>
    <p class="momo__end">
      Sử dụng app Momo hoặc ứng dụng Camera hỗ trợ QR Code để quét mã
    </p>
  </div>
</div>
