
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer__logo{
    background-color: #C2F4C0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 80px 5px;
}
.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 700;
    font-size: 35px;
    color: #2D982A;
}
.footer__content{
    margin: 20px auto;
    width: 85%;
}
.footer__content--tem{
    display: block;
}
.footer__content--infor{
    display: flex;
    justify-content: space-between;
}
.footer__content--infor>div{

}
.footer-logo{
    width: 166px;
    height: 54.41px;
    margin-bottom: 10px;
}
.bold{
    font-weight: bold;
}
.contact p{
    font-size: 15px;
}
.contact{
    margin-bottom: 10px;
}
.logo_check{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    float: left;
}
.logo_check img:first-child{
    width: 90.37px;
    height: 41px;
}
.logo_check img:nth-last-child(1){
    width: 113px;
height: 45.28px;
}
.logo_check img:nth-last-child(2){
    width: 112px;
height: 40.43px;
}
.list-link{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
}
.footer__content--title{
    font-weight: bold;
    font-size: 16px;
    width: 245.51px;
    height: 31.5px;
    margin-bottom: 5px;
}
.list-link a{
    color: grey;
    text-decoration: none;
    font-size: 14px;

    width: 248.37px;
    height: 28.09px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.footer__content--nav{
    display: flex;
    flex-direction: row ;

}
.footer__content--logo{
    float: right;
}
.footer__content--logo h3{
    color: #2D982A;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
margin-bottom: 14px;
}
.footer__content--logo>div{
    align-items: center;
    justify-content: space-between;
}
.hotline{
    font-weight: bold;
    margin-bottom: 25px;
}
.hotline-img{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 19px;
margin-bottom: 18px;
}
.hotline img{
    width: 24px;
height: 24px;
}
.logo-payment{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;
}
#logo-napas{
    width: 75px;
    height: 46.5px;
    
}
#logo-momo{
    width: 46.5px;
    height: 46.5px;
}
.footer__copyright{
    background-color: #2D982A;
    color: white;
    text-align: center;
    width: 100%;
    height: 56.44px;
    display: block;
    align-items: center;
}

#boxchat{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 40px;
    right: 50px;
}