<html lang="en">
<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>
<body>
<a hrel="./navigate_bar"></a>
<div class="main">
    <div class="main-left">
        <a href=".navigate-bar"></a>
    </div>
    <div class="main-right">
        <div class="admin-info">
            <span class="material-icons-outlined">notifications</span>
            <span class="admin-name">Admin</span>
            <img src="assets/admin-avatar.png" class="admin-ava">
        </div>
        <div class="page-title">
            <p> Danh sách đơn hàng chưa hoàn tất</p>
        </div>
        <div class="page-body">
            <div class="page-body-header">
                <div class="page-body-title">
                    <p class="title__main">Đơn hàng</p>
                    <p>51 đơn hàng đang chờ</p>
                </div>
                <div class="page-body-search">
                    <input type="search" id="search" placeholder="Tìm kiếm..." />
                </div>
            </div>
            <div class="page-body-content">
                <table id="unorders">
                
                    <thead>
                        <th style="width: 56px"></th>
                        <th style="width: 150px">Mã đơn hàng</th>
                        <th style="width: 200px">Tên khách hàng</th>
                        <th style="width: 200px">Ngày tạo </th>
                        <th style="width: 200px">Tổng tiền</th>
                        <th style="width: 100px"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="unord-check">
                                    <input type="checkbox" class="unord-check-input" id="unord-checking1">
                                    <label class="unord-check-label" for="unord-checking1"></label>
                                </div>
                            </td>
                            <td> #10022002</td>
                            <td> Phan Kim Ngân </td>
                            <td> 02/06/2022 | 9:22 SA </td>
                            <td> 251.000 ₫ </td>
                            <td>
                                <button id="check"><span class="material-icons-outlined" style="color:#2D982A">check_circle</span></button>
                               <button id="cancel"><span class="material-icons-outlined" style="color:red">cancel</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="unord-check">
                                    <input type="checkbox" class="unord-check-input" id="unord-checking1">
                                    <label class="unord-check-label" for="unord-checking1"></label>
                                </div>
                            </td>
                            <td> #10022002</td>
                            <td> Phan Kim Ngân </td>
                            <td> 02/06/2022 | 9:22 SA </td>
                            <td> 251.000 ₫ </td>
                            <td>
                                <button id="check"><span class="material-icons-outlined" style="color:#2D982A">check_circle</span></button>
                                <button ><span class="material-icons-outlined" style="color:red">cancel</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="unord-check">
                                    <input type="checkbox" class="unord-check-input" id="unord-checking1">
                                    <label class="unord-check-label" for="unord-checking1"></label>
                                </div>
                            </td>
                            <td> #10022002</td>
                            <td> Phan Kim Ngân </td>
                            <td> 02/06/2022 | 9:22 SA </td>
                            <td> 251.000 ₫ </td>
                            <td>
                                <button id="check"><span class="material-icons-outlined" style="color:#2D982A">check_circle</span></button>
                                <button  id="cancel"><span class="material-icons-outlined" style="color:red">cancel</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="unord-check">
                                    <input type="checkbox" class="unord-check-input" id="unord-checking1">
                                    <label class="unord-check-label" for="unord-checking1"></label>
                                </div>
                            </td>
                            <td> #10022002</td>
                            <td> Phan Kim Ngân </td>
                            <td> 02/06/2022 | 9:22 SA </td>
                            <td> 251.000 ₫ </td>
                            <td>
                                <button id="check"><span class="material-icons-outlined" style="color:#2D982A">check_circle</span></button>
                                <button id="cancel"><span class="material-icons-outlined" style="color:red">cancel</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="unord-check">
                                    <input type="checkbox" class="unord-check-input" id="unord-checking1">
                                    <label class="unord-check-label" for="unord-checking1"></label>
                                </div>
                            </td>
                            <td> #10022002</td>
                            <td> Phan Kim Ngân </td>
                            <td> 02/06/2022 | 9:22 SA </td>
                            <td> 251.000 ₫ </td>
                            <td>
                                <button id="check"><span class="material-icons-outlined" style="color:#2D982A">check_circle</span></button>
                                <button id="cancel"><span class="material-icons-outlined" style="color:red">cancel</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="unord-check">
                                    <input type="checkbox" class="unord-check-input" id="unord-checking1">
                                    <label class="unord-check-label" for="unord-checking1"></label>
                                </div>
                            </td>
                            <td> #10022002</td>
                            <td> Phan Kim Ngân </td>
                            <td> 02/06/2022 | 9:22 SA </td>
                            <td> 251.000 ₫ </td>
                            <td>
                                <button id="check"><span class="material-icons-outlined" style="color:#2D982A">check_circle</span></button>
                                <button id="cancel"><span class="material-icons-outlined" style="color:red">cancel</span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="page-body-nav">
                <!--<a href="#">&laquo;</a>-->
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
</div>


