<html lang="en">
<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>
<body>
<a hrel="./navigate_bar"></a>
<div class="main">
    <div class="main-left">
        <a href=".navigate-bar"></a>
    </div>
    <div class="main-right">
        <div class="admin-info">
            <span class="material-icons-outlined">notifications</span>
            <span class="admin-name">Admin</span>
            <img src="assets/admin-avatar.png" class="admin-ava">
        </div>
        <div class="page-title">
            <p> Quản lý khách hàng</p>
        </div>
        <div class="page-body">
            <div class="page-body-header">
                <div class="page-body-title">
                    <p class="title__main">Khách hàng</p>
                    <p>12.227 khách hàng</p>
                </div>
                <div class="page-body-search">
                    <input type="search" id="search" placeholder="Tìm kiếm..." />
                </div>
            </div>
            <div class="page-body-content">
                <table id="customers">
                    <thead>
                        <th style="width: 56px"></th>
                        <th style="width: 120px">ID</th>
                        <th style="width: 200px">Tài khoản</th>
                        <th style="width: 150px">Ngày đăng ký </th>
                        <th style="width: 200px">Địa chỉ</th>
                        <th style="width: 100px;">Giới tính</th>
                        <th style="width: 100px">Tích điểm</th>
                        <th style="width: 120px;">SĐT</th>
                        <th style="width: 56px"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="cus-check">
                                    <input type="checkbox" class="cus-check-input" id="cus-checking1">
                                    <label class="cus-check-label" for="cus-checking1"></label>
                                </div>
                            </td>
                            <td> 10000425</td>
                            <td> Phan Kim Ngân </td>
                            <td> 14/4/2020 </td>
                            <td> Kiên Giang </td>
                            <td> Nữ </td>
                            <td> 1200 </td>
                            <td> 0332781902 </td>
                            <td>
                               <button id="visual"><span class="material-icons-outlined">visibility</span></button> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cus-check">
                                    <input type="checkbox" class="cus-check-input" id="cus-checking2">
                                    <label class="cus-check-label" for="cus-checking2"></label>
                                </div>
                            </td>
                            <td> 10000425</td>
                            <td> Phan Kim Ngân </td>
                            <td> 14/4/2020 </td>
                            <td> Kiên Giang </td>
                            <td> Nữ </td>
                            <td> 1200 </td>
                            <td> 0332781902 </td>
                            <td>
                                <button id="visual"><span class="material-icons-outlined">visibility</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cus-check">
                                    <input type="checkbox" class="cus-check-input" id="cus-checking3">
                                    <label class="cus-check-label" for="cus-checking3"></label>
                                </div>
                            </td>
                            <td> 10000425</td>
                            <td> Phan Kim Ngân </td>
                            <td> 14/4/2020 </td>
                            <td> Kiên Giang </td>
                            <td> Nữ </td>
                            <td> 1200 </td>
                            <td> 0332781902 </td>
                            <td>
                                <button id="visual"><span class="material-icons-outlined">visibility</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cus-check">
                                    <input type="checkbox" class="cus-check-input" id="cus-checking4">
                                    <label class="cus-check-label" for="cus-checking4"></label>
                                </div>
                            </td>
                            <td> 10000425</td>
                            <td> Phan Kim Ngân </td>
                            <td> 14/4/2020 </td>
                            <td> Kiên Giang </td>
                            <td> Nữ </td>
                            <td> 1200 </td>
                            <td> 0332781902 </td>
                            <td>
                                <button id="visual"><span class="material-icons-outlined">visibility</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cus-check">
                                    <input type="checkbox" class="cus-check-input" id="cus-checking5">
                                    <label class="cus-check-label" for="cus-checking5"></label>
                                </div>
                            </td>
                            <td> 10000425</td>
                            <td> Phan Kim Ngân </td>
                            <td> 14/4/2020 </td>
                            <td> Kiên Giang </td>
                            <td> Nữ </td>
                            <td> 1200 </td>
                            <td> 0332781902 </td>
                            <td>
                                <button id="visual"><span class="material-icons-outlined">visibility</span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="page-body-nav">
                <!--<a href="#">&laquo;</a>-->
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
</div>

