<html lang="en">
<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>
<body>
<a hrel="./navigate_bar"></a>
<div class="main">
    <div class="main-left">
        <a href=".navigate-bar"></a>
    </div>
    <div class="main-right">
        <div class="admin-info">
            <span class="material-icons-outlined" id="admin-noti">notifications</span>
            <span class="admin-name">Admin</span>
            <img src="assets/admin-avatar.png" class="admin-ava">
        </div>
        <div class="page-title">
            <p> Tư vấn</p>
        </div>
        <div class="page-body">
            <div class="chat-list">
                <div class="page-body-search">
                    <input type="search" id="search" placeholder=" Tìm kiếm..." />
                </div>
                <ul class="chat-list-content">
                    <li> 
                        <div class="chat-list-content-detail" id="active">
                            <div class="cus-ava">
                                <img src="assets/woman.png">
                            </div>
                            <div class="info">
                                <div class="name">Lương Anh Thư</div>
                                <div class="status">
                                    <span class="time">15 phút trước</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <hr>
                    <li> 
                        <div class="chat-list-content-detail">
                            <div class="cus-ava">
                                <img src="assets/woman.png">
                            </div>
                            <div class="info">
                                <div class="name">Bùi Nguyễn Bích Ngọc</div>
                                <div class="status">
                                    <span class="time">15 phút trước</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <hr>
                    <li> 
                        <div class="chat-list-content-detail">
                            <div class="cus-ava">
                                <img src="assets/man.png">
                            </div>
                            <div class="info">
                                <div class="name">Võ Bá Tùng</div>
                                <div class="status">
                                    <span class="time">15 phút trước</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <hr>
                    <li> 
                        <div class="chat-list-content-detail">
                            <div class="cus-ava">
                                <img src="assets/woman.png">
                            </div>
                            <div class="info">
                                <div class="name">Nguyễn Thị Thanh Bình</div>
                                <div class="status">
                                    <span class="time">25 phút trước</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <hr>
                    <li> 
                        <div class="chat-list-content-detail">
                            <div class="cus-ava">
                                <img src="assets/man.png">
                            </div>
                            <div class="info">
                                <div class="name">Nguyễn Thành Danh</div>
                                <div class="status">
                                    <span class="time">25 phút trước</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <hr>
                    <li> 
                        <div class="chat-list-content-detail">
                            <div class="cus-ava">
                                <img src="assets/woman.png">
                            </div>
                            <div class="info">
                                <div class="name">Phan Kim Ngân</div>
                                <div class="status">
                                    <span class="time">20 phút trước</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="page-body-nav">
                    <!--<a href="#">&laquo;</a>-->
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
            <div class="chat-main">
                <div class="chat-header">
                    <div class="chat-header-img">
                        <img src="assets/woman.png">
                    </div>
                    <div class="chat-info">
                        <p id="chat-info-name">Lương Anh Thư</p>
                        <p>0332583000</p>
                    </div>
                </div>   
                <hr>
                <div class="chat-content">
                    <ul class="texting">
                        <li class="texting1">
                            <div class="texting1-data-time">
                                Thứ 2, 1:10 PM
                            </div>
                            <div class="texting1-data">
                                <span><img src="assets/woman.png" class="cus-ava"></span>
                                <span class="texting1-data-content"> Chị ơi, em bị đau bụng 2 ngày rồi thì em nên mua thuốc gì vậy chị?</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="chat-tag">
                    <button id="tag"><span class="material-icons-outlined" id="link">link</span></button>
                    <button id="tag"><span class="material-icons-outlined" id="mood">mood</span></button>
                    <button id="tag"><span class="material-icons-outlined" id="image">image</span></button>
                </div>
                <hr>
                <div class="chat-send">
                    <input type="text" class="form-control" placeholder="Nhập tin nhắn ...">
                    <button id="tag"><span class="material-icons-outlined">send</span></button>

                </div>
            </div>
            </div>
        
            
        
            
    
            


           <!-- <div class="chat">
                <div class="chat-history">
                    <ul class="m-b-0">
                        <li class="clearfix">
                            <div class="message-data text-right">
                                <span class="message-data-time">10:10 AM, Today</span>
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                            </div>
                            <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data">
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>                               
                        <li class="clearfix">
                            <div class="message-data">
                                <span class="message-data-time">10:15 AM, Today</span>
                            </div>
                            <div class="message my-message">Project has been already finished and I have results to show you.</div>
                        </li>
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-send"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter text here...">                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>-->