<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>
<div class="main-payment-banking">
  <p class="navigate">Trang chủ / Giỏ hàng / Thanh toán</p>
  <div class="main-info">
    <div class="left">
      <div class="cart">
        <div class="cart__top">
          <p class="cart__top-header">
            Giỏ hàng (3)
          </p>
          <div class="cart__top-button">
            <button>Chỉnh sửa giỏ hàng</button>
          </div>
        </div>
        <div class="cart__main">
          <div class="cart__main-row">
            <p class="cart__main-row--product">
              Sản phẩm
            </p>
            <p class="cart__main-row--price">
              Giá thành
            </p>
            <p class="cart__main-row--quantity">
              Số lượng
            </p>
          </div>
          <div class="cart__main-row">
            <div class="cart__main-row--product">
              <div class="cart__main-row--product-img">
                <img src="/assets/image/shopping-cart/product.jpg" alt="">
              </div>
              <p class="cart__main-row--product-info">Nat C 1000 hỗ trợ tăng đề kháng
                lọ 60 viên
              </p>
            </div>
            <p class="cart__main-row--price">
              105.000đ
            </p>
            <p class="cart__main-row--quantity">
              1
            </p>
          </div>
          <div class="cart__main-row">
            <div class="cart__main-row--product">
              <div class="cart__main-row--product-img">
                <img src="/assets/image/shopping-cart/product.jpg" alt="">
              </div>
              <p class="cart__main-row--product-info">Nat C 1000 hỗ trợ tăng đề kháng
                lọ 60 viên
              </p>
            </div>
            <p class="cart__main-row--price">
              105.000đ
            </p>
            <p class="cart__main-row--quantity">
              1
            </p>
          </div>

        </div>
      </div>
      <div class="information">
        <div class="information__heading">Thông tin nhận hàng</div>
        <form class="information__detail">
          <div class="form__information-row">
            <label for="" class="form__information-label">Tên khách hàng:</label>
            <div class="form__information-input">
              <span>Nhà thuốc Benzen</span>
            </div>
          </div>
          <div class="form__information-row">
            <label for="" class="form__information-label">Số điện thoại:</label>
            <div class="form__information-input">
              <span>0123456789</span>
            </div>
          </div>
          <div class="form__information-row">
            <label for="" class="form__information-label">Email:</label>
            <div class="form__information-input">
              <span>nhathuocbenzen123@gmail.com</span>
            </div>
          </div>
          <div class="form__information-row">
            <label for="" class="form__information-label">Địa chỉ:</label>
            <div class="form__information-input">
              <span>Số 669, QL1, Khu phố 3, Phường Linh Xuân, Quận Thủ Đức, Thành phố Hồ Chí Minh</span>
            </div>
          </div>
          <div class="form__information-row">
            <label for="" class="form__information-label">Ghi chú</label>
            <div class="form__information-input">
            <textarea name="" id="" cols="30" rows="3" placeholder="Nhập ghi chú..."></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="information">
        <div class="information__heading">Hình thức thanh toán</div>
        <div class="information__row">
          <input type="radio" class="information__row-input" name="check">
          <span class="information__row-info">Thanh toán khi nhận hàng</span>
        </div>
        <div class="information__row">
          <input type="radio" class="information__row-input" name="check">
          <span class="information__row-info">Thanh toán qua thẻ ATM nội địa/ Internet Banking</span>
        </div>
        <div class="information__row">
          <input type="radio" class="information__row-input" name="check">
          <span class="information__row-info">Thanh toán qua ví điện tử Momo</span>
        </div>
      </div>
    </div>
    <div class="order">
      <div class="order__heading">
        <span class="material-icons-outlined">
          shopping_bag
        </span>
        <span>Đơn hàng</span>
      </div>
      <div class="order__row">
        <p class="order__row-left">
          Tổng tiền
        </p>
        <p class="order__row-right">
          315.000đ
        </p>
      </div>
      <div class="order__row">
        <p class="order__row-left">
          Giảm giá
        </p>
        <p class="order__row-right">
          0đ
        </p>
      </div>
      <div class="order__row">
        <p class="order__row-left">
          Tạm tính
        </p>
        <p class="order__row-right">
          315.000đ
        </p>
      </div>
      <div class="order__row">
        <p class="order__row-left">
          Phí vận chuyển
        </p>
        <p class="order__row-right">
          25.000đ
        </p>
      </div>
      <div class=" order__row-discount">
        <span class="material-icons-outlined">
          local_offer
        </span>
        <input type="text" placeholder="Nhập mã giảm giá">
      </div>
      <div class="order__row">
        <p class="order__row-left bold">
          Thành tiền
        </p>
        <p class="order__row-right">
          340.000đ
        </p>
      </div>
      <div class="order__row">
        <input type="checkbox">
        <span>Đồng ý với các chính sách của Nhà thuốc Benzen để hoàn tất đơn hàng</span>
      </div>
      <div class="orer__row-button">
        <button>Hoàn tất</button>
      </div>
    </div>
  </div>

</div>
