<html lang="en">
<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>
<body>
    <div class="navigate">
        <div class="navigate__bar">
            <div class="nav__title">
                <p>BENZEN</p>
            </div>
            <ul class="nav__content">
                <li>
                    <a href="#" class="navigate__bar--link">
                        <span class="material-icons-outlined">chat</span>
                        <span class="nav__item">Quản lý tư vấn</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="navigate__bar--link"> 
                        <span class="material-icons-outlined">shopping_cart</span>
                        <span class="nav__item">Quản lý đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="navigate__bar--link">
                        <span class="material-icons-outlined">share</span>
                        <span class="nav__item">Quản lý sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="navigate__bar--link">
                        <span class="material-icons-outlined">person</span>
                        <span class="nav__item">Quản lý khách hàng</span>
                    </a>
                </li>
            </ul>
            <div class="nav__back">
                <span class="material-icons-outlined">home</span>
                <span class="nav__item">Quay lại trang chủ</span>
            </div>
        </div>
    </div>
</body>
</html>
