* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    width: 100%;
    height: max-content;
    background: #F8F8F8;
    font-size: 15px;
  }
  /* Body page*/
  .content {
    display: flex;
  }
  
  .banner {
    margin-left: 250px;
    margin-top: 70px;
  }
  .left-content{
      height: 100vh;
  width: 734px;
  left: 0px;
  top: 0px;
  background-color: #2D982A;
  
  }
  .right-content{
      width: 802px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  /* Bordered login form */
  .login_form {
      /* border-bottom: 3px solid #d9d9d9; */
      width: 522px;
      display: flex;
      flex-direction: column;
  }
  h2{
  width: 519px;
  height: 34px;
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #2D982A;
  }
  .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin:auto;
  }
  .container__input{
      display: flex;
      width:max-content;
      flex-direction: column;
      padding: 0px;
      gap: 25px;
      margin-bottom: 0px;
  }
  .input--content{
      float: right;
      display: flex;
      flex-direction:row
  }
  .input--content input{
      width: 263px;
      border: 0px;
      border-bottom: 1px solid #000000;
      padding:0px ;
  
  }
  .container__input--item .material{
      width: 7px;
      height: 7px;
      
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      align-items:flex-start;
      float: right;
      color: #FF0F0F;   
  }
  .container__input--item{
    display: flex;
    display: block;
    flex-direction: column;
    margin-bottom: 25px;
    justify-content:space-between;
  }
  .container__input--item div{
    margin-bottom: 20px;
    justify-content:space-between;
  }
  .container__input--item div input{
    float: right;
  }
  #otp-send{
    position:relative;
    right: 0;
    width: 100px;
    height: 27px;
    border-radius: 5px;
    background-color: #2D982A;
    color: white;
    border: none;
    cursor: pointer;
    float:right;
  }
  .reset-OTP{
    float: right;
    margin: 0px;
    font-size: 14px;
    align-content:center;
    display: flex;
  }
  .reset-OTP span{
    margin-right: 8px;
    align-items: center;
  }
  #otp-button{
    position:relative;
    right: 0;
    color: #2D982A;
    width:fit-content;
    font-size: 15px;
    font-weight: bold;
    height: 27px;
    /* border-radius: 5px; */
    /* background-color: #2D982A; */
    /* color: white; */
    /* border: none; */
    cursor: pointer;
    float:right;
  }
  .login_button{
      display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 46.95px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #2D982A;
  border: 0PX;
  border-radius: 23px;
  color: white !important;
  margin-bottom: 20px;
  }
  .content--bottom{
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .content--bottom p{
      margin-bottom: 5px;
  }
  .content--bottom a{
      color:#000000;
      font-weight: bold;
  }