<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng ký</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
  </head>
  <body>
    <div class="content">
      <div class="left-content">
        <img src="/assets/image/SignInUp/BannerHello.png" width="130px" class="banner"/>
      </div>

      <div class="right-content">
        <form action="app-home" method="get" class="signup_form">
          <h2 class="header">ĐĂNG KÝ</h2>
          <div class="container">
            <div class="container__input">
                <div class="container__input--item">
                    <p class="text--OTP">
                        Mã xác minh OTP đã gửi đến số điện thoại của bạn. 
                        <br>
                        <span style="color: red">Vui lòng kiểm tra tin nhắn điện thoại.</span>
                    </p>
                  </div>
            </div>
            
            <div class="container__checkbox">
                <div>
                    <label for="uname">Nhập mã xác nhận: </label>
                    <input type="text" id="otp-input">
                </div>
                <div class="reset-OTP">
                  <span>Chưa nhận được mã?</span>
                  <a id="otp-button" onclick="sendOTP()">Gửi lại mã</a>
                </div>
            </div>
            <div>
              <button type="submit" class="login_button" onclick="window.location='app-home'">HOÀN TẤT</button>
            </div>
          </div>
          <div class="content--bottom">
            <a href="app-signup"> << Trở về</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>